/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the items */
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  .nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  